#smokeCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    background: #000;
}

/* Vignette para enmarcar los bordes*/
body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: radial-gradient(
        circle at center,
        transparent 30%,
        rgba(0, 0, 0, 0.6) 70%,
        rgba(0, 0, 0, 0.95) 100%
    );
    pointer-events: none;
    z-index: -90;
}
